<header class="container-full header-container">
    <a class="navbar-brand home-link" routerLink="">Angular Forms</a>
  <nav >
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dataForm">Data Driver</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/templateForm">Template Driver</a>
      </li>
    </ul>
  </nav>
</header>

<div class="conatiner">
  <router-outlet></router-outlet>
</div>
