.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.content{
    display: table;
    box-shadow: 3px 3px 20px black;
    padding: 40px 20px;
    border-radius: 10px;

    label{
        font-weight: 900;
        font-family: roboto;
        font-size: 20px;
    }

    .button{
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        button{
            width: 250px;
        }
        
    }
    
}

.input-email{
    margin-top: 15px;
}

.container-input{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    input{
        flex: 1;
    }
}

.container-input input:nth-child(1){
    border: solid red;
    margin: 0px 5px;
}

.input-rua{
    margin-top: 20px;
}



// campo de validação
//.ng-invalid.ng-touched:not(form){
//    border: 1px solid red;
//}